<!DOCTYPE html>
<html ng-app="toolkit">

  <head>
    <meta charset="utf-8" />
    <title>Toolkit</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-reboot.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <link rel="stylesheet" href="style/custom.css">
  </head>

  <body ng-controller="MainCtrl">
      <div class="container-fluid">
          <div class="row justify-content-between mt-3">
              <div class="col-8">
                  <h1 class="text-primary">Logo</h1>
              </div>
              <div class="col-4">
                  <input type="text" class="form-control" placeholder="Search..." ng-model="searchValue">
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm"
                   ng-repeat="element in data track by $index"
                   ng-if="element.link.length">
                  <div class="d-flex justify-content-between align-items-center">
                      <h2 class="text-info pl-3">{{element.category}}</h2>
                      <button class="btn btn-sm"
                              ng-click="isCollapsed = !isCollapsed;"
                              ng-style="!isCollapsed && {'transform':'rotate(180deg)'}">
                          <i class="fa fa-chevron-down text-success"></i>
                      </button>
                  </div>
                  <div class="mb-5" uib-collapse="isCollapsed">
                      <ul class="list-group">
                          <li class="list-group-item list-group-item-action"
                              ng-repeat="link in element.link | filter: searchValue track by $index">
                              {{link.name}}
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <hr>
      <footer class="text-center">
          <span>Toolkit task made by Korcz</span>
      </footer>

      <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
      <script src="node_modules/angular-animate/angular-animate.js"></script>
  </body>
</html>
